.img-sm {
  display: inline;
  max-width:50px;
  max-height:50px;
  width: auto;
  height: auto;
}

.is-valid {
  border-color: limegreen !important;
  border-style: solid !important;
  border-width: 2px;

}

.is-not-valid {
  border-color: red !important;
  border-style: solid !important;
  border-width: 2px;

}

.btn-upload {
  width: 179px !important;
}

.tiny {
  font-size: 9px !important;
}

.form-control-sm {
  border-width: thin !important;
  border-style: solid !important;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}
