.img-sm {
  display: inline;
  max-width:50px;
  max-height:50px;
  width: auto;
  height: auto;
}

.is-valid {
  border-color: limegreen !important;
  border-style: solid !important;
  border-width: 2px;

}

.is-not-valid {
  border-color: red !important;
  border-style: solid !important;
  border-width: 2px;

}

.btn-upload {
  width: 179px !important;
}

.tiny {
  font-size: 9px !important;
}

.form-control-sm {
  border-width: thin !important;
  border-style: solid !important;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

/* write a captcha class and trasform the angle to random degrees */
.captcha {
  transform: rotate(5deg);
  margin-top: 10px;
  box-shadow: 5px 5px 5px 5px gray;
  width: 60px;;
  padding: 10px;
  font-weight: 400;
  
  user-select: none;
  text-decoration:line-through;
  font-style: italic;
  font-size: x-large;
  border: red 2px solid;
  
}
